<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

    <h1>TeachMaster</h1>
    <nav>
    <a href="/">HomePage</a>
    <a href="/tutor">Tutors</a>
    <a href="/student">Students</a>
    <a href="/course">Courses</a>
    <a href="/FS">Financial Summaries</a>
    <a href="/tutor-course">Courses Taught by Tutor</a>
    <a href="/tutor-student">Students Taught by Tutor</a>
    <a href="/pages/Courses_has_students.html">Students Enrolled in Course</a>
    </nav>

{{!-- Create a table --}}
<body>
<h2><strong>Financial Summaries</strong></h2>
<table id="fs-table">
        <tr>
           <th>Financial Summary ID</th>
           <th>Tutor</th>
            <th>Financial Period</th>
            <th>Contract Rate ($)</th>
            <th>Revenue Generated ($)</th>
            <th>Commision Due</th>
            <th>Course Cost in USD ($)</th>
            <th>Renewal Rate</th>
        </tr>

        {{!-- For each row, print in order --}}
        {{#each financialSummaries}} {{!-- in app.js, relates to the rows financialSummaries --}}
        <tr data-value={{this.financialSummaryID}}>
            <td>{{this.financialSummaryID}}</td>
             <td>
                    {{this.firstName}} {{this.lastName}}
            </td>
            <td>{{this.financialPeriod}}</td>
            <td>{{this.contractRate}}</td>
            <td>{{this.revenueGenerated}}</td>
            <td>{{this.commissionDue}}</td>
            <td>{{this.courseCost}}</td>
            <td>{{this.renewalRate}}</td>
            <td><button onclick="deleteFS({{this.financialSummaryID}})">Delete</button></td>
        </tr>
        {{/each}}
</table>
<script src="/js/delete_fs.js"></script>


{{!-- Form to add a record to the table using AJAX --}}
<p>&nbsp;</p>
<p>To add a new Financial Summary, please enter all the information below and click 'Submit'!</p>
<form  id="add-fs-form-ajax">

    <label for="input-tutorID">Tutor: </label>
    <select name="input-fullname" id="input-fullname">
        <option value="test">Select a Tutor</option>
        {{#each tutors}} {{!-- in app.js, relates to the rows tutors, allows data drom Tutors entity to be populated here --}}
        <option value="{{this.tutorID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>
    
    <label for="input-quarter">Quarter Period: </label>
    <input type="text" name="input-quarter" id="input-quarter">

    <label for="input-rate">Contract Rate: </label>
    <input type="number" name="input-rate" id="input-rate">

    <label for="input-revenue">Revenue Generated: </label>
    <input type="number" name="input-revenue" id="input-revenue">

    <label for="input-commission">Commission Due: </label>
    <input type="number" name="input-commission" id="input-commission">

    <label for="input-Cost">Course Cost: </label>
    <input type="number" name="input-Cost" id="input-Cost">

    <label for="input-renewal">Renewal Rate: </label>
    <input type="number" name="input-renewal" id="input-renewal" step="0.01" max="1.00">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="/js/add_fs.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}


<p>Select a Financial Summary and update its information.</p>
<form id="update-fs-form-ajax">

    <label for="input-fs-id">Financial ID: </label>
    <select name="input-fs-id" id="input-fs-id-update">
        <option value="test_1">Select Financial Summary</option>
        {{#each financialSummaries}}
        <option value="{{this.financialSummaryID}}">{{this.financialSummaryID}}</option>
        {{/each}}
    </select>

    <label for="input-fs">Tutor name: </label>
    <select name="input-fs" id="input-fs-update">
        <option value="test">Select a Person</option>
        {{#each tutors}}
        <option value="{{this.tutorID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-quarter">Quarter Period: </label>
    <input type="text" name="input-quarter" id="input-quarter-update">

    <label for="input-rate">Contract Rate: </label>
    <input type="number" name="input-rate" id="input-rate-update">

    <label for="input-revenue">Revenue Generated: </label>
    <input type="number" name="input-revenue" id="input-revenue-update">

    <label for="input-commission">Commission Due: </label>
    <input type="number" name="input-commission" id="input-commission-update">

    <label for="input-Cost">Course Cost: </label>
    <input type="number" name="input-Cost" id="input-Cost-update">

    <label for="input-renewal">Renewal Rate: </label>
    <input type="number" name="input-renewal" id="input-renewal-update" step="0.01" max="1.00">
        
    <input type="submit">

</form>

<script src="/js/update_fs.js"></script>