<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>TeachMaster</h1>
    <nav>
    <a href="/">HomePage</a>
    <a href="/tutor">Tutors</a>
    <a href="/student">Students</a>
    <a href="/course">Courses</a>
    <a href="/FS">Financial Summaries</a>
    <a href="/tutor-course">Courses Taught by Tutor</a>
    <a href="/tutor-student">Students Taught by Tutor</a>
    <a href="/pages/Courses_has_students.html">Students Enrolled in Course</a>
    </nav>

    <table id="tutors-has-courses-table">
     <thead>
        <tr>
            <th>tutorsHasCoursesID</th>
            <th>Tutor ID</th>
            <th>Tutor's Name</th>
            <th>Course ID</th>
            <th>Course's Name</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.tutorsHasCoursesID}}>
            <td>{{this.tutorsHasCoursesID}}</td>
            <td>{{this.tutorID}}</td>
            <td>{{this.tutorName}}</td>
            <td>{{this.courseID}}</td>
            <td>{{this.courseName}}</td>
            <td><button onclick="deleteTutorsHasCourses({{this.tutorsHasCoursesID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_tutors_has_courses.js"></script>

{{!-- Form to add a record to the table  --}}
<p>To add a new tutors-has-courses record, please enter their information below and click 'Submit'!</p>
<form id="add-tutors-has-courses-form-ajax">
    <label for="input-tutor-ajax">Tutor:</label>
    <select name="input-tutor" id="input-tutor-ajax" required>
        <option value="">Select a Tutor</option>
        {{#each tutors}}
        <option value="{{this.tutorID}}">{{this.tutorName}}</option>
        {{/each}}
    </select>

    <label for="input-course-ajax">Course:</label>
    <select name="input-course" id="input-course-ajax" required>
        <option value="">Select a Course</option>
        {{#each courses}}
        <option value="{{this.courseID}}">{{this.courseName}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Submit">
</form>


