<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

    <h1>TeachMaster</h1>
    <nav>
    <a href="/">HomePage</a>
    <a href="/tutor">Tutors</a>
    <a href="/student">Students</a>
    <a href="/course">Courses</a>
    <a href="/FS">Financial Summaries</a>
    <a href="/pages/Tutor_has_Courses.html">Courses Taught by Tutor</a>
    <a href="/tutor-student">Students Taught by Tutor</a>
    <a href="/pages/Courses_has_students.html">Students Enrolled in Course</a>
    </nav>

{{!-- Create a table --}}
<body>
<h2><strong>Courses</strong></h2>
<table id="course-table">
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
           <th>ID</th>
            <th>Course Name</th>
            <th>Course Cost in US Dollars($)</th>
            <th>Total Class Hours (per price)</th>
        </tr>

        {{!-- For each row, print in order --}}
        {{#each data}}
        <tr data-value={{this.courseID}}>
            <td>{{this.courseID}}</td>
            <td>{{this.courseName}}</td>
            <td>{{this.coursePrice}}</td>
            <td>{{this.totalClassHours}}</td>
            <td><button onclick="deleteCourse({{this.courseID}})">Delete</button></td>
        </tr>
        {{/each}}
</table>
<script src="./js/delete_course.js"></script>


{{!-- Form to add a record to the table using AJAX --}}
<p>&nbsp;</p>
<h2>Adding A New Course</h2>
<p>To add a new Course, please enter all the information below and click 'Submit'!</p>
<form  id="add-course-form-ajax">

    <label for="input-name">Course Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-cost">Course Cost: </label>
    <input type="number" name="input-cost" id="input-cost">

    <label for="input-hours">Class Hours: </label>
    <input type="number" name="input-hours" id="input-hours">

    <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_course.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}

<h2>Update A Course</h2>
<p>Select a Course and update its information.</p>
<form id="update-course-form-ajax">

    <label for="input-course">Course name: </label>
    <select name="input-course" id="input-course-update">
        <option value="test">Select a Course</option>
        {{#each data}}
        <option value="{{this.courseID}}">{{this.courseName}}</option>
        {{/each}}
    </select>

    <label for="input-cost">Cost: </label>
    <input type="number" name="input-cost" id="input-cost-update">

    <label for="input-hours">Hours: </label>
    <input type="number" name="input-hours" id="input-hours-update">
        
    <input type="submit">

</form>

<script src="./js/update_course.js"></script>