<!DOCTYPE html>
<html>
<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

    <h1>TeachMaster</h1>
    <nav>
    <a href="/">HomePage</a>
    <a href="/tutor">Tutors</a>
    <a href="/student">Students</a>
    <a href="/course">Courses</a>
    <a href="/FS">Financial Summaries</a>
    <a href="/tutor-course">Courses Taught by Tutor</a>
    <a href="/tutor-student">Students Taught by Tutor</a>
    <a href="/course-student">Students Enrolled in Course</a>
    </nav>

{{!-- Citation for the following DELETE:
Date: 12/10/2024
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data --}}
{{!-- Create a table --}}
<body>
<table id="student-table">
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
           <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Tution Payment</th>
            <th>Delete</th>
        </tr>

        {{!-- For each row, print in order --}}
        {{#each data}}
        <tr data-value={{this.studentID}}>
            <td>{{this.studentID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phoneNum}}</td>
            <td>{{this.tuitionPayment}}</td>
            <td><button onclick="deleteStudent({{this.studentID}})">Delete</button></td>
        </tr>
        {{/each}}
</table>
<script src="/js/delete_student.js"></script>


{{!-- Citation for the following ADD:
Date: 12/10/2024
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data --}}
{{!-- Form to add a record to the table using AJAX --}}
<form  id="add-student-form-ajax">
    <fieldset style="width:1000px">
         <legend><strong>Add Student</strong></legend>
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-number">Phone Number: </label>
    <input type="tel" name="input-number" id="input-number"><p></p>

    <label for="input-tuition">Tution Payment: </label>
    <input type="number" name="input-tuition" id="input-tuition">

    <input type="submit">
    </fieldset>
    <p></p>
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="/js/add_student.js"></script>

{{!-- Citation for the following UPDATE:
Date: 12/10/2024
Adapted from:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data --}}
{{!-- Select a Student and update their information. --}}
<form id="update-student-form-ajax">
<fieldset style="width:1000px">
     <legend><strong>Update Student</strong></legend>
    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="input-name-update">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.studentID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-number">Phone Number: </label>
    <input type="tel" name="input-number" id="input-number-update">

    <label for="input-tuition">Tution: </label>
    <input type="number" name="input-tuition" id="input-tuition-update">
        
    <input type="submit">
    </fieldset>

</form>

<script src="/js/update_student.js"></script>